.page {
  margin-bottom: 60px;
}

.page__header {
  font-size: 1.4em;
  font-weight: $font-weight-extra-bold;
}

.page__author {
  font-size: .9em;
  font-weight: $font-weight-normal;
  margin-bottom: 30px;

  a {
    font-weight: $font-weight-normal;
  }
}

.page__time {
  margin-left: 10px;
}

.page__preview {
  font-size: 1em;
  font-weight: $font-weight-normal;
}
